/* App.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 24px;
    box-shadow: 0 2px 8px hsl(210, 7%, 95%);
    /* margin-bottom: 10px; */
  }
  
  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    height: 30px;
    margin-right: 24px;
  }
  
  .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
  
  .user-info {
    margin-left: 120vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
  }
  
  
  .user-info span {
    margin-right: 16px;
  }
  
  .avatar {
    height: 40px;
    border-radius: 50%;
    margin-right: 1vh;
    margin-top: 2.5vh;
  }
  
  .site-layout-background {
    margin-top: 2vh;
    background: #fff;
  }
  
  .MenuArrow {
    margin-top: 1.5vh;
    float: right;
  }
  
  .article {
    background: #fff;
    padding: 24px;
    margin: 16px 0;
    border-radius: 4px;
    box-shadow: 0 2px 8px #f0f1f2;
  }
  
  .back-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .backspace {
    margin-left: 8px;
    cursor: pointer;
  }
  
  .searchsize {
    margin-left: auto;
  }
  
  .search {
    margin-left: auto; 
   
  }