/* ---------card css------------ */
.card_effect{
    width: 333px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(118, 115, 115);
   
  }

  .card_heading{
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: left;
  }
  .pa{
    text-align: left;
}
